@if(assignmentTransmis) {
<h2>Détail de l'assignment:</h2>

<mat-card>
  <mat-card-content>
    <mat-card-title>{{ assignmentTransmis.nom }}</mat-card-title>
    <mat-card-subtitle>{{
      assignmentTransmis.dateDeRendu | date
      }}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-content>
    <p><strong>Matière :</strong> {{ assignmentTransmis.matieres.nom }}</p>
    <p><strong>Professeur :</strong> {{ assignmentTransmis.matieres.nomProf }}</p>
    <p><strong>Elève :</strong> {{ assignmentTransmis.auteurs.nom }}</p>
    <div *ngIf="assignmentTransmis.note === null && assignmentTransmis.remarques === null">
      <p><strong class="text"> Devoir non rendu donc il n'y a pas encore de note!!! </strong></p>
    </div>


    <!-- Display note and remarks if they are available -->
    <div *ngIf="assignmentTransmis.note !== null || assignmentTransmis.remarques !== null">
      <p><strong>Devoir {{ assignmentTransmis.rendu }}</strong></p>
      <p><strong>Note :</strong> {{ assignmentTransmis.note }}</p>
      <p><strong>Remarques :</strong> {{ assignmentTransmis.remarques }}</p>
    </div>
    <div
      *ngIf="(assignmentTransmis.note != null && assignmentTransmis.remarques === null) || (assignmentTransmis.note != null && assignmentTransmis.remarques != null)">
      <p><strong class="textRendu"> DEVOIR RENDU </strong></p>
    </div>
  </mat-card-content>
  <mat-card-actions class="container">
    <!-- @if(!assignmentTransmis.rendu) {
    <mat-checkbox (click)="onAssignmentRendu()">Rendu</mat-checkbox>
    } -->

    <button mat-raised-button color="warn" (click)="onDelete()" [disabled]="!isAuthenticated()">
      DELETE
    </button>

    <nav>
      <a routerLink="edit">
        <button mat-raised-button color="primary" [disabled]="!isAuthenticated()" class="buttonedit">
          EDIT
        </button>
      </a>
    </nav>
  </mat-card-actions>
</mat-card>
}