table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 20px;
}

.rendu {
  color: green;
}

.nonRendu {
  color: red;
  background-color: yellow;
  border: 2px dashed purple;
  padding: 5px;
}

.container {
  width: 100%;
  height: 100%;
}

.btnAjout {
  align-self: flex-end;
}

.demo-table {
  width: 100%;
}

.demo-button-container {
  padding-bottom: 16px;
}

.example-viewport {
  height: 300px;
  width: 800px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

.example-card {
  max-width: 298px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 45px;
  display: flex;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  /* Transition douce pour l'effet de survol */
}

.mdc-card__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  min-height: 52px;
  padding: 22px;
  margin-left: 71px;
}

.example-header-image-round {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.example-header-image-round img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.example-header-image-round img:hover {
  transform: scale(1.05);
}

.example-header-image-round-right {
  float: right;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
  margin-left: auto;
}

.example-header-image-round-right img:hover {
  transform: scale(1.05);
}

.example-header-image-round-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageMatiere:hover {
  transform: scale(1.03);
  height: 170px;
  width: 100%;
  object-fit: fill;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  /* Espace entre les cartes */
}

.example-card {
  flex: 1 1 calc(25% - 16px);
  /* 4 cartes par ligne */
  box-sizing: border-box;
}

.imageMatiere {
  width: 100%;
  /* Définissez la largeur désirée */
  height: 170px;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.left,
.right {
  width: 50%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  padding: 20px;
}

.example-card {
  position: relative;
  transition: transform 0.3s ease;
}

/* Styles pour le conteneur de cartes */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.p {
  color: red;
  font-family: cursive;
}