<div class="container">

  <h2>{{ titre }}</h2>
  <p>
    Nb documents : {{ totalDocs }}, nbPages : {{ totalPages }}
    <br />
    Page courante : {{ page }}, nb de docs par page : {{ limit }}
    <!-- add slider for adjusting the limit property, with angular 17 -->
    <mat-slider min="1" max="100" step="1" thumbLabel>
      <input matSliderThumb [(ngModel)]="limit" (change)="getAssignmentsFromService()" />
    </mat-slider>
  </p>

  <div class="cards-container">
    <!-- Utilisez ngFor pour itérer sur les assignments -->
    <div *ngFor="let a of assignments">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-round">
            <img [src]="a.auteurs.photo" alt="Nom de l'image">
          </div>
          <mat-card-title>{{ a.nom }}</mat-card-title>
          <mat-card-subtitle>{{ a.dateDeRendu | date }}</mat-card-subtitle>
          <div class="example-header-image-round-right">
            <img [src]="a.matieres.imageProf" alt="Nom de l'image">
          </div>
        </mat-card-header>
        <img mat-card-image class="imageMatiere" [src]="a.matieres.image" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            <!-- Le contenu de la carte -->
            {{ a.rendu ? a.rendu : a.nom + ' NON RENDU !!!!' }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" routerLink="/assignment/{{ a._id }}">Voir détails</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="premierePage()">
        Première
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="pagePrecedente()">
        Précédent
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="pageSuivante()">
        Suivante
      </button>
      &nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="dernierePage()">
        Dernière
      </button>
    </div>
  </div>
</div>