<div class="container">
  <div class="left">
    <h2 class="title">Listes des assignments non rendus</h2>
    <p class="details">
      Nb documents : {{ totalDocs }}, nbPages : {{ totalPages }}
      <br />
      Page courante : {{ page }}, nb de docs par page : {{ limit }}
      <mat-slider min="1" max="100" step="1" thumbLabel>
        <input matSliderThumb [(ngModel)]="limit" (change)="getAssignmentsFromServiceRenduFalse()" />
      </mat-slider>
    </p>

    <div class="cards-container">
      <div *ngFor="let a of assignments">
        <mat-card class="example-card" cdkDrag (cdkDragEnded)="onCardDragEnded($event, a)">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image-round">
              <img [src]="a.auteurs.photo" alt="Nom de l'image">
            </div>
            <mat-card-title>{{ a.nom }}</mat-card-title>
            <mat-card-subtitle>{{ a.dateDeRendu | date }}</mat-card-subtitle>
            <div class="example-header-image-round-right">
              <img [src]="a.matieres.imageProf" alt="Nom de l'image">
            </div>
          </mat-card-header>
          <img mat-card-image class="imageMatiere" [src]="a.matieres.image" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="nonrendu">{{ a.rendu ? a.rendu : a.nom + ' pas encore rendu !' }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="primary" [routerLink]="['/assignment', a._id]">Voir détails</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="pagination">
      <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="premierePage()">Première</button>
      <button mat-raised-button color="primary" [disabled]="!hasPrevPage" (click)="pagePrecedente()">Précédent</button>
      <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="pageSuivante()">Suivante</button>
      <button mat-raised-button color="primary" [disabled]="!hasNextPage" (click)="dernierePage()">Dernière</button>
    </div>
  </div>

  <div class="right">
    <h2 class="title">Listes des assignments rendus</h2>
    <p class="details">
      Nb documents : {{ totalDocsRendu }}, nbPages : {{ totalPagesRendu }}
      <br />
      Page courante : {{ page }}, nb de docs par page : {{ limit }}
      <mat-slider min="1" max="100" step="1" thumbLabel>
        <input matSliderThumb [(ngModel)]="limit" (change)="getAssignmentsFromServiceRenduTrue()" />
      </mat-slider>
    </p>

    <div class="cards-container">
      <div *ngFor="let ar of assignmentsRendu">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class=" example-header-image-round">
              <img [src]="ar.auteurs.photo" alt="Nom de l'image">
            </div>
            <mat-card-title>{{ ar.nom }}</mat-card-title>
            <mat-card-subtitle>{{ ar.dateDeRendu | date }}</mat-card-subtitle>
            <div class="example-header-image-round-right">
              <img [src]="ar.matieres.imageProf" alt="Nom de l'image">
            </div>

          </mat-card-header>
          <img mat-card-image class="imageMatiere" [src]="ar.matieres.image" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p class="nonrendu">{{ ar.rendu ? ar.rendu : ar.nom + ' pas encore rendu !' }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="primary" [routerLink]="['/assignment', ar._id]">Voir détails</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="pagination">
      <button mat-raised-button color="primary" [disabled]="!hasPrevPageRendu"
        (click)="premierePageRendu()">Première</button>
      <button mat-raised-button color="primary" [disabled]="!hasPrevPageRendu"
        (click)="pagePrecedenteRendu()">Précédent</button>
      <button mat-raised-button color="primary" [disabled]="!hasNextPageRendu"
        (click)="pageSuivanteRendu()">Suivante</button>
      <button mat-raised-button color="primary" [disabled]="!hasNextPageRendu"
        (click)="dernierePageRendu()">Dernière</button>
    </div>
  </div>
</div>