<div class="container" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Ajouter un auteur</mat-card-title>
        </mat-card-header>
        <form class="example-form" (ngSubmit)="createAuteur()">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nom auteur" [(ngModel)]="nom" name="nom" required>
                </mat-form-field>
                <!-- File input outside mat-form-field -->
                <input type="file" (change)="onFileSelected($event)" placeholder="Photo auteur">
            </mat-card-content>
            <br>
            <mat-card-actions>
                <button mat-flat-button color="primary" class="btn-block" type="submit" [disabled]="loading">
                    <span *ngIf="!loading">Valider</span>
                    <span *ngIf="loading">Chargement...</span>
                </button>
            </mat-card-actions>
        </form>
    </mat-card>

    <mat-card class="box card-container" fxFlex="55%">
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Liste des auteurs</mat-card-title>
        </mat-card-header>
        <br>
        <br>
        <mat-card-content>
    <ng-container *ngIf="auteurs.length > 0; else noAuteurs">
    <table mat-table [dataSource]="auteurs" class="mat-elevation-z8 full-width-table">

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef> Nom auteur</th>
            <td mat-cell *matCellDef="let auteur"> {{ auteur.nom }} </td>
        </ng-container>


        <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef> Photo </th>
            <td mat-cell *matCellDef="let auteur">
                <img [src]="auteur.photo" alt="{{ auteur.nom }}" width="50">
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let auteur">
                <button mat-icon-button (click)="deleteAuteurs(auteur._id)" class="delete-button">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-container>
<ng-template #noAuteurs>
    <p class="no-auteurs-message">Pas encore d'auteur insérée.</p>
</ng-template>
</mat-card-content>
</mat-card>
</div>
