.container {
    height: 90%;
}

.drawer {
    background-color:#3f51b5;
    width: 200px;
    height: 100%; /* Hauteur initiale */
}

@media (max-width: 768px) {
    .drawer {
        width: 100%;
    }
}

.burger {
    color: white;
}
.example-spacer {
    flex: 1 1 auto;
  }
  
  .drawer .item {
    color: white; /* Text color */
  }
  
  
  .drawer .item a[mat-list-item] {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
.drawer .item a[mat-list-item] mat-icon {
    margin-right: 10px; 
    color: white; 
    vertical-align: middle; 
  }
  
  .drawer .item a[mat-list-item] span {
    color: white; 
    line-height: 1; 
    vertical-align: middle; 
  }
  
  
  .drawer .item a[mat-list-item]:hover {
    background-color: transparent; 
  }
  
  
  .drawer .item a[mat-list-item] mat-icon {
    margin-right: 10px;
    color: white; 
  }
  
  /* Active link styles (optional) */
  .drawer .item a[mat-list-item].active {
    background-color: #555; 
    font-weight: bold;
  }
  
  
.boutondeconnexion {
    margin-left: 20px;
}
