<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button (click)="drawer.toggle()" mat-icon-button class="burger">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="genererDonneesDeTest()">Peupler BD</button>
    <button mat-button routerLink="/auteur">Ajout auteur</button>
    <button mat-button routerLink="/matiere">Ajout matière</button>
    <button mat-button routerLink="/add">Ajout Assignment</button>
    <button mat-button routerLink="/login">Login</button>
    <button class="boutondeconnexion" mat-flat-button color="accent" (click)="deconnexion()">Déconnexion</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="container" hasBackdrop="false">
  <mat-drawer #drawer class="drawer" mode="push">
    <mat-nav-list class="item" style="color: aliceblue;">
      <a mat-list-item routerLink="/home">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> 
        <span>Accueil</span>
      </a>
      <a mat-list-item routerLink="/login">
        <mat-icon aria-hidden="false" aria-label="Example login icon">login</mat-icon>
        <span>Login</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <!-- <h1>
      <nav>
        <a routerLink="/home">{{title}}</a>
      </nav>
    </h1> -->
    <!-- <mat-slide-toggle (click)="login()" color="primary">Login</mat-slide-toggle>
     -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>




<!-- <app-assignments></app-assignments> -->